opencv-python
av>=16.0.0
diffusers>=0.31.0,<0.40
huggingface_hub
aiohttp
kornia
requests
torch
torchvision
numpy
Pillow
transformers
safetensors
pytorch-lightning
omegaconf
yacs
timm
einops
roma
trimesh
